@import '../../utils.scss';

.navbar-container {
    color: #292929;
    font-size: 24px;
    font-weight: 800;
    padding: 0 16px;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $primary-bg-light;
    display: flex;
    align-items: center;

    &-logo {
        width: 264px;
    }

    &-icon {
        svg {
            background: #F0F5FF;
            border-radius: 50%;
            width: 28px;
            height: 28px;
        }
    }
}
