@import '../../utils.scss';

.sidebar-container {
    width: 280px;
    background: $primary-bg-light;
    margin-top: 70px;


    ul {
        list-style: none;
        padding: 12px 16px;

        li {
            align-items: center;
            border-radius: 10px;
            color: #5e5d72;
            font-size: 16px;
            font-weight: 600;
            justify-content: left;
            padding: 12px;
            text-align: left;
            text-transform: capitalize;

            &:hover {
                color: #007bff;
                background: #f1f1f1;
                transition: all 0.3s ease;
                cursor: pointer;
            }
        }
    }
}